.ag-theme-alpine {
  --ag-foreground-color: var(--primary) !important;
  --ag-header-foreground-color: white !important;
  --ag-header-background-color: var(--primary) !important;

  --ag-font-size: 14px !important;
  --ag-font-family: yekan !important;
}

.editeBtn,
.deleteBtn {
  font-size: 20px !important;
  color: var(--dark) !important;
  margin: 0 10px;
}

.editeBtn:hover {
  color: #ffc107 !important;
}

.deleteBtn:hover {
  color: #dc3545 !important;
}

.swal-footer {
  text-align: center;
}

.swal-button--cancel {
  color: white !important;
  background-color: var(--dark) !important;
}

.swal-button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;
}

.swal-button:hover {
  background-color: var(--primary) !important;
}

.swal-button--cancel:hover {
  background-color: var(--dark) !important;
}

.seletion {
  font-family: inherit;
  background: rgba(255, 255, 255, 0.1);
  border: 5px solid var(--primary_3);
  color: var(--primary_3);
  border-top: none;
  border-bottom: none;
  outline: none;
  font-size: 12px;
  padding: 15px 30px;
  width: 250px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 10px 0 0 0;
}

.seletion option {
  background-color: var(--dark);
}

.form-Bank {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.form-Bank h6 {
  color: var(--primary_3);
  font-size: 18px;
  margin-bottom: 20px;
}

.form-Bank button {
  margin: 10px 0 0 0;
}
