.Navbar {
  width: 100%;
  height: 80px;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  z-index: 50;
  margin-bottom: 10px;
}

.UserInfo {
  color: #dff6ff;
  font-size: 16px;
}

.Date {
  font-size: 12px;
}

.Settings {
  display: flex;
  align-items: center;
}

.Settings div {
  margin: 0 10px;
}

.Settings div i {
  font-size: 20px;
  margin: 0 5px;
}

.Settings div span {
  font-size: 14px;
  color: #dff6ff;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .UserInfo {
    font-size: 12px;
  }
  .Date {
    font-size: 10px;
  }
  .Settings div i {
    font-size: 16px;
  }
  .Settings div span {
    font-size: 10px;
  }
}
