:root {
  --primary: #274c77;
  --primary_2: #6096b4;
  --primary_3: #a3cef1;
  --dark: #8b8c89;
  --white: rgb(255, 255, 255);
}

@font-face {
  font-family: yekan;
  src: url("../public/Fonts/yekan.woff") format("woff");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: yekan !important;
  background: url("../public//img/tijana-drndarski-JWmNS05a_Hs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: luminosity;
  background-color: var(--dark);
  height: 100vh;
}
